*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  color: white;
  align-items: center;
}

body {
  margin: 0;
}

.button {
  align-items: center;
  background-color: rgba(247, 247, 247, 0);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: default;
  opacity: 0.5;
  transition-duration: 0.5s;
}

.button:hover{
  background-color: white;
  color: black;
  border: 2px solid white;
  cursor: default;
  opacity: 1;
}

.form {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
  }

.header {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: darkorange;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 30px;
  align-items: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
    }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 1px solid rgb(243, 240, 240);
  text-align: center;
  margin: auto;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th:first-child,
td:first-child {
  text-align: left
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-Price {
  color: skyblue;
}

.fa-Quant {
  color: skyblue;
}

.fa-Total {
  color: lightcoral;
}

.footer {
  padding: 20px;
  text-align: center;
  background: black;
  margin-top: 20px;
  width: 100%;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
    }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 1px solid rgb(243, 240, 240);
  text-align: center;
  margin: auto;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th:first-child,
td:first-child {
  text-align: left
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-Price {
  color: skyblue;
}

.fa-Quant {
  color: skyblue;
}

.fa-Total {
  color: lightcoral;
}

.footer {
  padding: 20px;
  text-align: center;
  background: black;
  margin-top: 20px;
  width: 100%;
}
