<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/workbook_survey.css">
    <script src="https://kit.fontawesome.com/9b205acb71.js" crossorigin="anonymous"></script>

    <title>완료</title>
</head>
<body style="font-family:'KoPub Batang', serif;">
    <header>
        <span class="home_icon">
            <i class="fas fa-home" style="font-size:200%; margin: 1%; color:white" onclick="location.href='/'"></i>
        </span>
    </header>

    <h2>글 작성이 완료되었습니다.</h2>

    <a href="qlist">질문 게시판으로 돌아가기</a>

</body>
</html>